<div class="container pt-2">
<div class="row">
    <div class="col-md-5">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Edit</button>
            </mat-card-actions>
          </mat-card>
          
        <br>
    </div>
    <div class="col-md-5">
        <mat-card class="example-card">
            <mat-card-title><b>Education</b></mat-card-title>
            <mat-card-subtitle>List of Education</mat-card-subtitle>
            <mat-card-content>
              <p>This card indeterminates progress bar.</p>
              <p>{{longText}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="openDialogEducation()">Add</button>
            </mat-card-actions>
          </mat-card>
          <br>
          <mat-card class="example-card">
            <mat-card-title><b>Skills</b></mat-card-title>
            <mat-card-subtitle>List of Skills</mat-card-subtitle>
            <mat-card-content>
              <p>This card indeterminates progress bar.</p>
              <p>{{longText}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="openDialogSkill()">Add</button>
            </mat-card-actions>
          </mat-card>
          <br>
          <mat-card class="example-card">
            <mat-card-title>Experience</mat-card-title>
            <mat-card-subtitle>List of Experience</mat-card-subtitle>
            <mat-card-content>
              <p>This card indeterminates progress bar.</p>
              <p>{{longText}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Add</button>
            </mat-card-actions>
          </mat-card>
          <br>
       </div>
          
</div>
  


  
