<div class="conatiner pt-5" >
   <div class="row">
        <div class="col-md-3"style="margin: auto;">
            <div class="card">
                <form [formGroup]="datapost" (ngSubmit)="login()">
                <div class="card-header bg bg-primary">
                    <h3 class="text-center text-white">Login</h3>
                </div>
                <div class="card-body">
                 
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" formControlName="email" placeholder="name@example.com" required>
                            <label for="floatingInput">Email address</label>
                          </div>
                          <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" formControlName="pass" placeholder="Password" required>
                            <label for="floatingPassword">Password</label>
                          </div>
                          
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit" [disabled]="datapost.invalid">Login</button>
                      </div>
                      <br>
                      <p>Register <a [routerLink]="['/register']">Click here!</a> </p>
                </div>
                </form>
            </div>
        </div>
   </div>
</div>